@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Outfit", sans-serif;
  background: #000;
  color: white;
}

.bg-img {
  background-image: url("./assets/bg-img2.png");
}
